<div class="row">
    
    <div class="col-sm-9 map-container"></div>
    
    <div class="col-sm-3" id="sidebar">
        <div class="row position">
            <div class="col-sm-6">
                <input type="radio" value="gps" data-ng-model="position" >
                <span>Your position</span>
            </div>
            <div class="col-sm-6">
                <input type="radio" value="address" data-ng-model="position" >
                <span>Address</span>
            </div>
            <div class="col-sm-12" data-ng-hide="position == 'gps'">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Address" data-ng-model="address" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-ng-click="goToAddress(address)">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
        <div class="row">
            <span>Seach</span>
            <select class="form-control" name="distance" id="distance" data-ng-model="distance">
                <option>10</option>
                <option>20</option>
                <option>30</option>
            </select>
            <span>miles arroud.</span>
        </div>
        <div class="top-donator-title">Top Collectors</div>
        <div></div>
        <div class="top-donator">
            <ul class="row">
                <li data-ng-repeat="donator in donators">
                    <img data-ng-src="{{ donator.avatar }}" alt="{{ donator.name }}">
                    <h4>{{ donator.name }}</h4>
                    <b>Today: </b><span>{{ donator.stars }}</span>
                    <b>Last week: </b><span>{{ donator.countWeek }}</span><br>
                    <b>Total: </b><span>{{ donator.total }}</span>
                    <!--<div data-ng-bind-html="supplier.description"></div>-->
                </li>
            </ul>
        </div>
    </div>
</div>